h2, .user-info {
  background: -webkit-linear-gradient(rgb(232, 101, 13), rgb(223, 178, 31));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.user-info{
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    line-height: 13px;
}

.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
    min-height: 600px;
    min-width: 100%;
  }
  
  #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: -webkit-linear-gradient(rgb(232, 101, 13), rgb(223, 178, 31));
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left;
  }
  
  .about-block {
    margin: 20px;
    font-size: 1.3em;
  }
  
  li{
    margin: 39px 17px -10px 16px;
    font-size: 1.2em;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
  }
  a, .color{
       color: #fff;
  }
  footer div {
    background-color: rgb(245 245 245);
    display: flex;
    flex-direction: column;
    line-height: 10px;
    width:inherit;
    height: 72px;
  }
  a{
      text-decoration: none;
      font-size: 1.2em;
  }