<ng-container *ngIf="!islogin">
  <div class="card text-center">
    <div class="card-header bg-danger">
      Warning
    </div>
    <div class="card-body">
      <h5 class="card-title">You are not a registered user. Please log in</h5>
      <button type="button" class="btn btn-success" [routerLink]="['/login']">Login</button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="islogin">
<header>
<nav class="navbar navbar-light bg-light border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand">
        <h2>Welcome</h2>
      </a>
      <div class="user-info text-center">
         <p>{{LogUser.username}}</p>
         <p>{{LogUser.email}}</p>
      </div>
    </div>
  </nav>
</header>
<div class="wrapper">
<nav id="sidebar">
    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
      <li *ngFor="let item of routes"><a [routerLink]="item.route">{{item.name}}</a></li>
      <li (click)="LogOut()" class="color"><a>Logout</a></li>
    </ul>
  </nav>
  <div class="about-block">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga porro dolorum quae fugit architecto sit, eius in
    dicta nostrum praesentium velit excepturi? Qui est voluptates aperiam quasi doloremque deserunt incidunt cumque nisi
    porro ad! Adipisci beatae necessitatibus quis excepturi pariatur explicabo, perspiciatis eligendi ut aperiam laborum
    nesciunt ex doloremque vero exercitationem quod quasi dignissimos totam. Maiores porro omnis sit nihil dicta
    eligendi! Assumenda aliquam esse eligendi nobis, iusto debitis iste odit sunt delectus ex cumque velit et
    repellendus veritatis tempora vel. Quos nemo iure eius quis dignissimos deleniti atque assumenda ratione, facilis
    illo dolor totam perferendis nihil ducimus itaque quas est iusto. Blanditiis dolorem accusantium culpa itaque eum
    dolores voluptatum tenetur assumenda? Iusto, ducimus nemo. Quas quod fuga dignissimos quis odio ut ullam, minima
    blanditiis excepturi error commodi quisquam magni, ad aspernatur perferendis. Earum corporis soluta eveniet tempora
    praesentium veritatis nam voluptatem assumenda suscipit beatae amet nulla, quas laborum nesciunt ipsam? Maxime
    exercitationem id ipsam, tenetur quam debitis quaerat ab commodi qui corrupti impedit, eius blanditiis harum
    possimus quia odit magni laboriosam sunt delectus quod sed labore corporis rerum eveniet? Possimus quisquam
    perspiciatis cum, dolore assumenda, voluptatibus blanditiis molestias, nihil ipsam voluptas eaque? Aspernatur,
    mollitia doloremque corporis veniam iste quas.
  </div>
</div>
  <footer>
    <div class="text-center p-3">
      <p> Copyright ©
       <<a class="text-warning" href="#">Welcome</a>></p>
      <p>Всі права захищені.</p>
    </div>
  </footer>
  </ng-container>