<p class="mt-3 ms-3" [routerLink]="['/dashboard']"><< Back</p>
<form name="form" #f="ngForm" novalidate class="mx-3 mt-3">
  <input type="text" class="form-control" id="exampleInputName"  name="name" [(ngModel)]="newUser.username" #username="ngModel" required pattern="^[a-zA-Z]{1,20}$">
  <button type="button" class="btn btn-success my-3" (click)="Add()" [disabled]="username.invalid" *ngIf="!edit">Add</button>
  <button type="button" class="btn btn-success my-3" (click)="SaveEdit()" *ngIf="edit">Edit User</button>
</form>

<ul class="list-group mx-3 mt-3" *ngFor="let item of users; index as i" >
<li class="list-group-item">{{item.username}}, {{item.email}}</li>
<li><button type="button" class = "btn btn-warning ms-3" (click)="detail(i)">Details</button></li>
<li><button type="button" class = "btn btn-warning ms-3" (click)="EditUser(i)" *ngIf="canEdit">Edit</button></li>
<li><button type="button" class = "btn btn-danger ms-3" (click)="DeleteUser(i)" *ngIf="canDelete">Delete</button></li>
</ul>